#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// ---------------------------------------------------------------------------------
// |   `  |  1  |  2  |  3  |  4  |  5  |     |  6  |  7  |  8  |  9  |  0  | BKSP |
// |  TAB |  Q  |  W  |  E  |  R  |  T  |     |  Z  |  U  |  I  |  O  |  P  |  \   |
// | CAPS |  A  |  S  |  D  |  F  |  G  |     |  H  |  J  |  K  |  L  |  ;  |  ENT |
// | SHFT |  Y  |  X  |  C  |  V  |  B  |     |  N  |  M  |  ,  |  .  |  /  |  #   |
// |      |     |     | GUI |     |     |     |     |     |LARW |     |     |      |
// | FN   | CRL | ALT | GUI | SPC | SPC |     | SPC | LOW |LARW |DARW |UARW | RARW |
                        bindings = <
   &kp OEM_5   &kp N1    &kp N2    &kp N3          &kp N4     &kp N5            &kp N6     &kp N7    &kp N8     &kp N9    &kp N0      &kp BSPC
   &kp ESC     &kp Q     &kp W     &kp E           &kp R      &kp T             &kp Z      &kp U     &kp I      &kp O     &kp P       &kp BSPC
   &kp TAB     &kp A     &kp S     &kp D           &kp F      &kp G             &kp H      &kp J     &kp K      &kp L     &kp NUHS    &kp KP_PLUS
   &kp LSHIFT  &kp Y     &kp X     &kp C           &kp V      &kp B             &kp N      &kp M     &kp GRAVE  &kp DOT   &kp SEMI    &kp RET
   &kp LSHIFT  &kp LCTRL &kp LALT  &kp LGUI        &kp SPACE  &kp SPACE         &kp SPACE  &kp SPACE &kp COMMA  &kp DARW  &kp UARW    &kp RARW
   &kp CAPS    &kp LCTRL &kp LALT  &kp LGUI        &kp SPACE  &kp SPACE         &kp SPACE  &kp SPACE &kp LARW   &kp DARW  &kp UARW    &kp RARW
                        >;
};
                lower_layer {
// ------------------------------------------------------------------------------------------------------------
// |       |  BT1  |  BT2  |  BT3  |  BT4  |  BT5  |          |       |       |       |       |       | BTCLR |
// |       |       |       |       |       |       |          |       |       |       |       |       |       |
// |       |       |       | LPAR  | RPAR  |       |          |       | LBKT  | RBKT  |       |       |       |
// |       |       |       |       |       |       |          |       |       |       |       |       |       |
                        bindings = <
   &kp N1  &kp N1    &kp N1    &kp N1     &kp N1     &kp N1               &kp N1     &kp N1  &kp N1     &kp N1    &kp N1    &kp N1
   &kp N1  &kp N1    &kp N1    &kp N1     &kp N1     &kp N1               &kp N1     &kp N1  &kp N1     &kp N1    &kp N1    &kp N1
   &kp N1  &kp N1    &kp N1    &kp N1     &kp N1     &kp N1               &kp N1     &kp N1  &kp N1     &kp N1    &kp N1    &kp N1
   &kp N1  &kp N1    &kp N1    &kp N1     &kp N1     &kp N1               &kp N1     &kp N1  &kp N1     &kp N1    &kp N1    &kp N1
   &kp N1  &kp N1    &kp N1    &kp N1     &kp N1     &kp N1               &kp N1     &kp N1  &kp N1     &kp N1    &kp N1    &kp N1
   &kp N1  &kp N1    &kp N1    &kp N1     &kp N1     &kp N1               &kp N1     &kp N1  &kp N1     &kp N1    &kp N1    &kp N1
                        >;
                };
        };
};
